<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<div>
  <%= video_tag "cafe1.mp4", autoplay: :autoplay, muted: :muted ,class: "video" %>
</div>
<div class="grid">
  <div class="shops">
    <% @shops.each do |shop| %>
      <a href="/shops/<%= shop.id %>">
        <%= cl_image_tag shop.logo ,class: "shop-image" %>
      </a>
    <% end %>
    <%# image_tag "12.png", id: "12-image" ,class: "shop-image"%>
    <%#image_tag "dose.png", id: "dose-image" ,class: "shop-image"%>
    <%#image_tag "drip.png", id: "drip-image" ,class: "shop-image"%>
    <%#image_tag "Apaq.png", id: "Apaq-image" ,class: "shop-image"%>
    <%#image_tag "Less.png", id: "Less-image" ,class: "shop-image"%>
    <%#image_tag "J cafe.png", id: "Jcafe-image" ,class: "shop-image"%>
    <%#image_tag "Cam.png", id: "Cam-image" ,class: "shop-image"%>
    <%#image_tag "bask.png", id: "bask-image" ,class: "shop-image"%>
    <%#image_tag "exeer.png", id: "exeer-image" ,class: "shop-image"%>
    <%#image_tag "Fifve.png", id: "Fifve-image" ,class: "shop-image"%>
    <%#image_tag "1m2.png", id: "1m2-image" ,class: "shop-image"%>
    <%#image_tag "beet.png", id: "beet-image" ,class: "shop-image"%>
    <%#image_tag "jolt.png", id: "jolt-image" ,class: "shop-image"%>
    <%#image_tag "cAF.png", id: "CAF-image" ,class: "shop-image"%>
    <%#image_tag "mekyal.png", id: "mekyal-image" ,class: "shop-image"%>
    <div class="grid-sizer"></div>
  </div>
</div>
<div class="search">
  <form action="/search" method="GET" class="search-form">
    <input id="term" name="term" type="text" placeholder="Search for Coffee Shop" class="search-bar">
  </form>
</div>
<script>
  $(document).on("turbolinks:load", function () {
  
  
    var $grid = $('.shops').isotope({
      // options...
      itemSelector: '.shop-image',
      isFitWidth: true,
      columnWidth: 300,
      initLayout: false,
      percentPosition: true ,
      masonry: {
        columnWidth: ".grid-sizer"
      }
    });
    // bind event
    $grid.isotope( 'on', 'arrangeComplete', function() {
      console.log('arrange is complete');
    });
    // manually trigger initial layout
    setTimeout(function() {
      $grid.isotope();
  
    }, 100)
  });
</script>
