<h3>Results for: <%= @term %></h3>

<h4>Shops</h4>
<% if @shops_match.empty? %>
  <p>No shops found!</p>
<% else %>
  <ul>
    <% @shops_match.each do |shop| %>
      <li><%= link_to shop.name, shop %></li>
    <% end %>
  </ul>
<% end %>

<h4>Products</h4>
<% if @products_match.empty? %>
  <p>No products found!</p>
<% else %>
  <ul>
    <% @products_match.each do |product| %>
      <li><%= link_to product.name, product.shop %></li>
    <% end %>
  </ul>
<% end %>