<h2>Results for: <%= @term %></h2>

<%# Shops Results %>
<h3>Shops</h3>
<% if @shops_match.empty? %>
  <p>No match found</p>
<% else %>
<ul>
  <% @shops_match.each do |shop| %>
    <li><%= link_to shop.name, shop %></li>
  <% end %>
</ul>
<% end %>

<%# Products Results %>
<h3>Products</h3>
<% if @products_match.empty? %>
  <p>No match found</p>
<% else %>
<ul>
  <% @products_match.each do |product| %>
    <li><%= link_to product.name, product.shop %></li>
  <% end %>
</ul>
<% end %>