/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #logo1 {
  width: 100px;
  height: 100px;
  position: absolute;
 }

.header {
  background-image: url("940ec697671b181d54f2ee200fed5e74.png");
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  color: #e9967a;
  margin: 0;
  /* opacity: 0.8; */
}
.web-ul {
  /* position: absolute;
  right: 5%;
  list-style-type: none;
  color: bisque; */
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.web-ul li {
  /* display: inline;
  padding: 8px 16px; */
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.shops {
  background: rgba(181, 181, 181, 0.5);
}

.shop-image {
  width: calc(100% / 3 - 60px);
  opacity: 1;
  transition: opacity 0.5s;
  float: left;
  margin: 4px;
}
.shop-image:hover {
  opacity: 0.2;
}

@media (max-width: 800px) {
  .shop-image {
    width: calc(50% - 40px);
  }
}

.slick {
  width: 250px;
  margin: 0 auto;
}

.slick img {
  max-height: 300px;
}

body .slick-next:before, body .slick-next:after {
  color: black
}

