/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header {
  /* background-image: url("940ec697671b181d54f2ee200fed5e74.png"); */
  /* background-size: cover; */
  /* height: 700px; */
  /* background-repeat: no-repeat; */
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  color: #e9967a;
  margin: 0;
  /* opacity: 0.8; */
}
.header a {
  color: #e9967a;
  text-decoration: none;
}
.web-ul {
  position: absolute;
  right: 5%;
  list-style-type: none;
  color: bisque;
}
.web-ul li {
  display: inline;
  padding: 8px 16px;
}
.shops {
  background: rgba(181, 181, 181, 0.5);
}

.shop-image {
  width: calc(100% / 3 - 60px);
  opacity: 1;
  transition: opacity 0.5s;
  float: left;
  margin: 4px;
}
.shop-image:hover {
  opacity: 0.2;
}

@media (max-width: 800px) {
  .shop-image {
    width: calc(50% - 40px);
  }
}
.video {
  width: 100%;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
