/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	font-family: "Shadows Into Light", cursive;
	margin: 0;
	padding: 0;
}
.header {
	height: 100px;
	font-family: "Shadows Into Light", cursive;
	font-size: 30px;
	color: white;
	margin: 0;
	background: black;

	/* opacity: 0.8; */
}
.logo {
	width: 100px;
	height: 100px;
}
.header a {
	color: white;
	text-decoration: none;
}
.web-ul {
	position: absolute;
	left: 12%;
	top: 8%;

	list-style-type: none;
	color: bisque;
}
.web-ul li {
	display: inline;
	padding: 8px 16px;
}

.shops {
	background: rgba(181, 181, 181, 0.5);
	/* width: 100%; */
}

.shop-image {
	width: calc(100% / 3 - 60px);
	opacity: 1;
	transition: opacity 0.5s;
	float: left;
	margin: 4px;
}
.shop-image:hover {
	opacity: 0.2;
}

@media (max-width: 800px) {
	.shop-image {
		width: calc(50% - 40px);
	}
}
.video {
	width: 100%;
}

#map {
	height: 40%;
	width: 40%;
	/* height: 100%;
  margin: 30px;
  padding: 0; */
}
/* Optional: Makes the sample page fill the window. */
html,
body {
	height: 100%;
	/* margin: 30px; */
	padding: 0;
}

div.field {
	position: relative;
}
label {
	display: block;
	/* transform: scale(1); */
	opacity: 0.5;
}
.field label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s;
}

input {
	margin-bottom: 20px;
	outline: none;
	background: rgba(255, 255, 255, 0.1);
	transition: all 1s;
}

input:not([type="file"]) {
	border: none;
	border-bottom: 2px solid black;
}

input:not(:placeholder-shown) + label,
input:focus + label {
	margin-top: -20px;
	/* transform: scale(0.8); */
	opacity: 1;
}

input::placeholder {
	opacity: 0;
}

input:focus:invalid:not([type="file"]) {
	background: rgba(255, 0, 0, 0.1);
}

input:focus:valid:not([type="file"]) {
	background: rgba(0, 255, 0, 0.1);
}

.button {
	background: wheat;
	height: 2.75rem;
	margin: 1em auto auto;
	padding: 0 5px;
}
.button:hover {
	cursor: pointer;
}

.form {
	border: solid 2px gray;
	position: fixed;
	align-content: center;
	padding: 80px;
	background: rgba(94, 93, 93, 0.1);
}
