<div class="card" style="width: 18rem;">
  <%= cl_image_tag proudect.image  %>
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">proudect.name</h5>
    <p class="card-text">proudect.descrption</p>
  </div>
</div>
