<nav>
  <ul>
    <li>
      <%= link_to 'Home', home_path %>
    </li>
    <li>
      <a href="#">Another <Link></Link></a>
    </li>
    <li>
      <%= link_to 'Login', user_session_path %>
    </li>
  </ul>
</nav>