<nav>
  <h1 class="web-name">Mazaj</h1>
  <p>Find the coffee shop that suits you.</p>
  <ul class="web-ul">
    <li>
      <%= link_to 'Home', home_path %>
    </li>
    <li>
      <a href="#">Another <Link></Link></a>
  </li>
  <li>
    <%= link_to 'Login', user_session_path %>
  </li>
</ul>
</nav>
